registry=https://registry.npmjs.org
@lwt-common:registry=http://npm-repo.lab.lwolf.com
@lwt-helix:registry=http://npm-repo.lab.lwolf.com
@types:registry=http://npm-repo.lab.lwolf.com
@terradatum:registry=http://npm-repo.lab.lwolf.com
@lwolf-common:registry=http://npm-repo.lab.lwolf.com
@helix:registry=http://npm-repo.lab.lwolf.com
